[user]
  name = Auliviet
  email = 112747495+auliviet@users.noreply.github.com

[core]
  editor = vim
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
